
@{
    ViewBag.Title = "IndexOld";
    Layout = "~/Views/Shared/View.cshtml";
}

@model IEnumerable<Qabulxona.Models.OpenRequests_Result>

<div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
        <span class="count_top"><i class="fa fa-list"></i> Жами мурожаатлар</span>
        <div class="count blue">@ViewBag.Total</div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" onmousedown="window.location.href='/Cabinet/IndexNew'" onmouseover="mouseovernew()" onmouseout="mouseoutnew()" id="newreq">
        <span class="count_top"><i class="fa fa-inbox"></i> Янги мурожаатлар</span>
        <div class="row">
            <div class="col-md-4">
                <div class="count purple">@ViewBag.New</div>
            </div>
            <div class="col-md-2 count purple">
                <h3>
                    / (@ViewBag.NewProcent%)
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" onmousedown="window.location.href='/Cabinet/IndexOld'" onmouseover="mouseoverold()" onmouseout="mouseoutold()" id="oldreq">
        <span class="count_top"><i class="fa fa-folder-open"></i> Очиқ мурожаатлар</span>
        <div class="row">
            <div class="col-md-4">
                <div class="count red">@ViewBag.Open</div>
            </div>
            <div class="col-md-2 count red">
                <h3>
                    / (@ViewBag.OpenProcent%)
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" onmousedown="window.location.href='/Cabinet/IndexClosed'" onmouseover="mouseovercl()" onmouseout="mouseoutcl()" id="clreq">
        <span class="count_top"><i class="fa fa-archive"></i> Ёпиқ мурожаатлар</span>
        <div class="row">
            <div class="col-md-4">
                <div class="count green">@ViewBag.Close </div>
            </div>
            <div class="col-md-2 count green">
                <h3>
                    / (@ViewBag.CloseProcent%)
                </h3>
            </div>
        </div>
    </div>
    @*<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" onmousedown="window.location.href='/Cabinet/IndexRetweet'" onmouseover="mouseoverret()" onmouseout="mouseoutret()" id="retreq">
        <span class="count_top"><i class="fa fa-recycle"></i> Йўналтирилган мурожаатлар</span>
        <div class="row">
            <div class="col-md-4">
                <div class="count aero">@ViewBag.Retweet</div>
            </div>
            <div class="col-md-2 count aero">
                <h3>
                    / (@ViewBag.RetweetProcent%)
                </h3>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" onmousedown="window.location.href='/Cabinet/IndexOk'" onmouseover="mouseoverok()" onmouseout="mouseoutok()" id="okreq">
        <span class="count_top"><i class="fa fa-magic"></i> Тасдиғини кутаётган мурожаатлар</span>
        <div class="row">
            <div class="col-md-4">
                <div class="count ">@ViewBag.Complete</div>
            </div>
            <div class="col-md-2">
                <h3>
                    / (@ViewBag.CompleteProcent%)
                </h3>
            </div>
        </div>
    </div>*@
</div>

<script>
    function mouseoverok() {
        document.getElementById("okreq").style.color = "red";
    }
    function mouseoutok() {
        document.getElementById("okreq").style.color = "";
    }
    function mouseoverret() {
        document.getElementById("retreq").style.color = "red";
    }
    function mouseoutret() {
        document.getElementById("retreq").style.color = "";
    }
    function mouseovercl() {
        document.getElementById("clreq").style.color = "red";
    }
    function mouseoutcl() {
        document.getElementById("clreq").style.color = "";
    }
    function mouseoverold() {
        document.getElementById("oldreq").style.color = "red";
    }
    function mouseoutold() {
        document.getElementById("oldreq").style.color = "";
    }
    function mouseovernew() {
        document.getElementById("newreq").style.color = "red";
    }
    function mouseoutnew() {
        document.getElementById("newreq").style.color = "";
    }
</script>

@*

<html ng-app="exampleApp">
<head>
    <title></title>

    <script src="~/Scripts/angular.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />

    <script>
        angular.module("exampleApp", [])
            .controller("defaultCtrl", function ($scope) {

                $scope.Items=[ { @foreach (var item in Model)
                {
                  id: @Html.DisplayFor(modelItem => item.RequestId),
                  type: @Html.ActionLink(item.RequestSubject, "Details", new { id = item.RequestId }),
                  name: @Html.DisplayFor(modelItem => item.PersonName),
                num:@Html.DisplayFor(modelItem => item.RequestNumber) } } ];
        
                //      $scope.items[item] = [ { }
                //  {name[i]= "Item 1", price[i]= 10.9, category[1]= "Category 1", count[i]= 10, tax[i]= 1.12, expiration[i]= 10 },
            }


                $scope.limitValue = "2";

                $scope.limitRange = [];

                // заполнение массива значениями от -8 до +8 (в соответствии с размерностью массива items)
                for (var i = (0 - $scope.items.length) ; i <= $scope.items.length; i++) {
                    $scope.limitRange.push(i.toString());
                }
            });
    </script>
</head>
<body ng-controller="defaultCtrl">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>
                Items in cart
                <span class="label label-info">{{items.length}}</span>
                <p>Limit: <select class="text-info" ng-model="limitValue" ng-options="item for item in limitRange"></select></p>
            </h3>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("ID")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат мавзуси")
                    </th>
                    <th>
                        @Html.DisplayName("Жўнатувчи")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат рақами")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат санаси")
                    </th>
                </tr>
            </thead>
            <tbody>
                <!--limitTo: значение - фильтр позволяющий отобрать из коллекции нужное количество элементов-->
                <tr ng-repeat="item in items | limitTo : limitValue">
                    <td>
                       {{  item.RequestId }}
                    </td>
                    <td>
                        {{ item.RequestSubject }}
                    </td>
                    <td>
                        {{ item.PersonName }}
                    </td>
                    <td>
                        {{ item.RequestNumber }}
                    </td>
                  </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
*@





    <div class="panel panel-primary no-border" style="border:0px;">
        <div class="panel-heading h1" style="margin-bottom:0px;"><p class="h3">Очиқ мурожаатлар</p></div>
        <div class="panel-body" style="padding-top:0px; padding-bottom:0em; padding-left:0px; padding-right:0px;">
            <table class="table table-bordered table-striped" style="padding-bottom:0em; margin-bottom:0px;">
                <tr>
                    <th>
                        @Html.DisplayName("ID")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат мавзуси")
                    </th>
                    <th>
                        @Html.DisplayName("Жўнатувчи")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат рақами")
                    </th>
                    <th>
                        @Html.DisplayName("Мурожаат санаси")
                    </th>
                    <th>
                        @Html.DisplayName("Кўриб чиқиш муддати")
                    </th>
                    <th>
                        @Html.DisplayName("Ижрочилар")
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestId)
                        </td>
                        <td>
                            @Html.ActionLink(item.RequestSubject, "Details", new { id = item.RequestId })
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PersonName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RequestNumber)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.InComeDate)
                        </td>
                        <td>
                            @Convert.ToDateTime(item.DaysToSolveForIspol).ToShortDateString()
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ispol)
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>

