@model MobilBor.Models.Users
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Руйхатдан утиш</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/normalize.css">
    <link href="~/Content/login_temp.css" rel="stylesheet" />
    <script src="~/Scripts/prefixfree.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <form class="login" action="~/Registration/Register" method="post">
            @Html.AntiForgeryToken()
            <p style="text-align:center" class="title">Руйхатдан утиш</p>
            <input type="text" required="required" name="Name" placeholder="Ф.И.Ш." autofocus />
            @Html.ValidationMessageFor(model => model.FullName)
            <i class="fa fa-user"></i>
            <input type="text" required="required" name="Country" placeholder="Шахар, Tyман" autofocus />
            @Html.ValidationMessageFor(model => model.Country)
            <i class="fa fa-user"></i>
            @*<input type="text" required="required" name="Email" placeholder="Электрон почта" autofocus />
            @Html.ValidationMessageFor(model => model.Email)*@
            <i class="fa fa-user"></i>
            <input type="text" required="required" required="required" name="PhoneNumber" placeholder="Телефон ракам" autofocus />
            @Html.ValidationMessageFor(model => model.Phone)
            <i class="fa fa-user"></i>
            <input type="text" required="required" id="Username" name="Username" onchange="UserCheck()" placeholder="Электрон почта" autofocus />
            @Html.ValidationMessageFor(model => model.Login)
            <i class="fa fa-user"></i>
            <label class="col-sm-1"></label>
            <div class="col-sm-12">
                <p id="Status" />
            </div>
            <input type="password" required="required" id="Password" name="Password" onchange="UserCheck()" placeholder="Пароль" />
            @Html.ValidationMessageFor(model => model.Password)
            <i class="fa fa-key"></i>
            <button type="submit">
                <i class="spinner"></i>
                <span class="state">Руйхатдан утиш</span>
            </button>
        </form>
        <footer><a target="blank" href="~/Home/Index">UySavdosi.uz</a></footer>
    </div>
    @*<script src="~/Scripts/index.js"></script>*@
</body>
</html>
<script>
    function UserCheck() {
        $("#Status").html("Tекширилмокда...");
        $.post("@Url.Action("CheckUserNameAvailability", "Registration")",
            {
                userdata: $("#Username").val()
            },
        function(data){
            if(data==0){
                $("#Status").html('<font color="Green"></font>');
                $("#Username").css("border-color", "Green");
            }
            else{
                $("#Status").html('<font color="Red">Бундай логин мавжуд!</font>');
                $("#Username").css("border-color", "Red");
            }
        });
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-validator")
}