@model MobilBor.Models.Class.Password
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/HomeView.cshtml";
}
@*if (Session["User"].ToString() == "1" && Session["Type"].ToString() == "1")
    {*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="form-horizontal">
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.OldPassword, "Хозирги пароль", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control", @style = "width:350px;" })
                            @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NewPassword, "Янги пароль", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", @style = "width:350px;" })
                            @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.EqualPassword, "Парольни яна киритинг", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-8">
                            @Html.PasswordFor(model => model.EqualPassword, new { @class = "form-control", @style = "width:350px;" })
                            @Html.ValidationMessageFor(model => model.EqualPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                            <input type="submit" value="Ўзгартириш" class="btn btn-default aligncenter" />
                    </div>
                </div>
                @*}*@
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}
