@model IEnumerable<Insurance_car.Models.Insurance>
@{
    Insurance_car.Models.sugurtaEntities db = new Insurance_car.Models.sugurtaEntities();
    Layout = "~/Views/Shared/Layout_admin.cshtml";
}
<div class="col-md-12">
    <div class="col-md-2">

    </div>
    <div class="col-md-10">
        <div class="panel panel-primary no-border" style="border:0px;">
            <div class="panel-heading h1" style="margin-bottom:0px;"><p class="h3">Жами эълонлар</p></div>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Ф И О")
                        </th>
                        <th>
                            @Html.DisplayName("Адрес")
                        </th>
                        <th>
                            @Html.DisplayName("Тел номер")
                        </th>
                        <th>
                            @Html.DisplayName("Дата")
                        </th>
                        <th>
                            @Html.DisplayName("Сумма")
                        <th>
                            @Html.DisplayName("Холати")
                        </th>
                    </tr>

                    @foreach (var item in Model.OrderByDescending(x => x.Id))
                    {
                        <tr>

                            <td>
                                @Html.ActionLink(item.Person_Name, "details", new { id = item.Id })
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.Person_Address)
                            </td>


                            <td>
                                @Html.DisplayFor(modelItem => item.PhonoNumber)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Summary) sum
                            </td>
                                <td>
                                    @db.States.FirstOrDefault(x => x.Id == item.State_Id).Name
                                </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>
